- name: app-setup
  ansible.builtin.import_role:
   name: common
   tasks_from: app-setup.yaml

- name: systemd-setup
  ansible.builtin.import_role:
   name: common
   tasks_from: systemd-setup.yaml

- name: Install python dependecies
  ansible.builtin.pip:
     name: "{{ item }}"
     executable: pip3.9
  loop:
     - pyMySQL
     - cryptography
  args:
       chdir: /app

- name: import shipping data 
  community.mysql.mysql_db:
    state: import
    name: all
    login_host: "{{ MYSQL_HOST }}"
    login_user: root
    login_password: RoboShop@1
    target: "{{ item }}"
  loop:
    - /app/db/schema.sql
    - /app/db/app-user.sql 
    - /app/db/master-data.sql

- name: enable and start the shipping service
  ansible.builtin.service:
    name: shipping
    state: restarted
    enabled: yes
  
