- name: app-setup
  ansible.builtin.import_role:
   name: common
   tasks_from: app-setup.yaml

- name: python-setup
  ansible.builtin.import_role:
   name: common
   tasks_from: python-setup.yaml


- name: systemd_setup
  ansible.builtin.import_role:
   name: common
   tasks_from: systemd-setup.yaml

- name: enable and start the payment service
  ansible.builtin.service:
     name: payment
     state: restarted
     enabled: yes 